@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*Ver com declara varável*/
body{
    font-family: Poppins;
    background-color: #000;
    color:#eee;
    margin: 0;
    font-size: 12px;
}

a{
    text-decoration: none;
    color: #eee;
}

header{
    
    display: flex;
    align-items: center;
    width: 1140px;
    max-width: 80%;
    margin: auto;
    height: 50px;
    position: relative;/*tras a caixa para frente de todos os itens*/
    z-index: 100; /*Quanto maior o numero do elemento mais alto ele esta na págia*/
}

header > nav > a {
    margin-right: 40px;
}

/*Carrossel */

.carrossel{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: -50px;
    position: relative;
}

.carrossel .lista .item{
    position: absolute; /*Sobrepor os itens*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.carrossel .lista .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;  /*Como um elemento deve ser redimensionado para caber dentro do container*/
                        /*Parece o background size*/
}

.carrossel .lista .item .conteudo{
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translate(-50%,0);
    padding-right: 30%;
    box-sizing: border-box; /*Importante para não ultrapassar a borda da div*/
    color:#fff;
    text-shadow: 0 5px 10px #0004;
}

.carrossel .lista .item .conteudo .autor{
    font-weight: bold;
    letter-spacing: 10px; /*Novidade na área*/
}

.carrossel .lista .item  .conteudo .titulo,
.carrossel .lista .item .conteudo .topico{
    font-weight: bold;
    font-size: 5em;
    line-height: 1.3em;     /*Isso aqui também é fera*/
}

.carrossel .lista .item .topico {
    color: #f1683a;
}

.carrossel .lista .item .botoes {
    display: grid;
    grid-template-columns: repeat(2,130px); /*Não precisa ser apenas frações das divs*/
    grid-template-rows: 40px;
    gap:4px;
    margin-top:20px
}

.carrossel .lista .item .conteudo button{
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-family: Poppins;
    font-weight: 500;
}

.carrossel .lista .item .conteudo button:nth-child(2){
    background-color: transparent;
    color: #471a1a;
    border: 1px solid #eee;
}

.thumbnail{
    position:absolute;
    top: 50%;
    left: 50%;
    width: max-content; /*Isso aqui é novo também*/
    z-index: 100;
    display: flex;
    gap:20px;
}

.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0; /*<<-----O tamnho não diminui em telas pequenas*/
    position: relative;
}

.thumbnail .item img{
    width: 100%; /*A imagem não vaza da div*/
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.thumbnail .item .conteudo{
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.thumbnail .item .conteudo .titulo{
    font-weight: bold;
}

/*Flecha*/
.flechas{
    position: absolute;
    top: 80%;
    right: 52%;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap:10px;
    align-items:center;
    z-index: 2;
}

.flechas button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border:none;
    font-family: monospace;
    color: white;
    font-weight: bold;
    font-size: large;
    transition: .5s;/*Tempo de transição entre o hover*/
}

.flechas button:hover{
    color: #555;
    background-color: white;
}

/*animando*/
.carrossel .lista .item:nth-child(1){
    z-index:1;
}
/*---------------------------------------------------- */
.carrossel .lista .item:nth-child(1) .autor,
.carrossel .lista .item:nth-child(1) .titulo,
.carrossel .lista .item:nth-child(1) .topico,
.carrossel .lista .item:nth-child(1) .descricao,
.carrossel .lista .item:nth-child(1) .botoes{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 1;
    animation: showContent 0.5s 1s linear forwards;
}
/*Eu deixo tudo cagaddo na parte de cima e ai na parte de animatipn
eu chamo a funcao queu eu crieie passando o tempo e  direção
*/
@keyframes showContent{
    to{
        opacity: 1;
        filter:blur(0);
        transform: translateY(0);
    }
}

.carrossel .lista .item:nth-child(1) .titulo{
    animation-delay: 1.2s;
}

.carrossel .lista .item:nth-child(1) .topico{
    animation-delay: 1.4s;
}

.carrossel .lista .item:nth-child(1) .descricao{
    animation-delay: 1.6s;
}

.carrossel .lista .item:nth-child(1) .botoes{
    animation-delay: 1.8s;
}

/*Efeito próximo */

.carrossel .lista .item:nth-child(1) img {
    width: 150px;
    height: 220px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    border-radius: 20px;
    animation: showImage 0.5s linear 1 forwards;
}

@keyframes showImage{
    to{
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
}

/*efeito do proximo*/
.carrossel .thumbnail .item:nth-last-child(1){
    width: 0;
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}

@keyframes showThumbnail{
    to{
        width: 150px;
    }
}

.carrossel .thumbnail{
    transform: translateX(150px);
    animation: transformThumbnail .5s linear 1 forwards;
}

@keyframes transformThumbnail{
    to{
        transform: translateX(0);
    }
}

/* efeito de previous*//*
.carrossel .lista .item:nth-child(2){
    z-index: 2;
}

.carrossel .lista .item:nth-child(2) img{
    position: absolute;
    bottom: 0;
    left: 0;
    animation: outImage 0.5s linear 1  forwards;
}

@keyframes outImage{
    to{
        width: 150px;
        height: 220px;
        position: absolute;
        left: 50%;
        bottom: 50px;
        border-radius: 20px;
        
    }
}
*/


@media screen and (max-width: 678px){
    .carrossel .lista .item .conteudo{
        padding-right: 0;
    }
    .carrossel .lista .item .conteudo .titulo{
        font-size: 30px;
    }
}