@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --fonte-padrao: 'Poppins'
}


body{
    font-family: var(--fonte-padrao);
    background-color: #000;
    margin: 0;
    color: #eee;
    font-size: 13px;
}

/*Menu -------*/
header{
    display: flex ;
    align-items: center;
    width: 1140px;
    max-width: 80%;
    height: 50px;
    margin: auto;
    position: relative;
    z-index: 2;
}

header > nav > a{
    color: #eee;
    margin-right: 40px;
    text-decoration: none;
}

/*trabalhando o container principal */
.carrossel{
    position: relative;
    width: 100vw;
    height: 100vh;
    margin-top: -50px;
    overflow: hidden;

}

.carrossel .lista .item{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.carrossel .lista .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*Trabalhando os elementos textuais*/
.carrossel .lista .item .conteudo{
    box-sizing: border-box;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    padding-right:30% ;
    
    
    width: 1140px;
    max-width: 80%;
    color: white;
    text-shadow: 0 5px 10px #0004;
}

.carrossel .lista .item .conteudo .autor{
    letter-spacing: 10px;
    font-weight: bold;
}

.carrossel .lista .item .conteudo .titulo,
.carrossel .lista .item .conteudo .subtitulo{
    font-size: 5em;
    font-weight: bold;
    line-height: 1.3em;
}

.carrossel .lista .item .conteudo .subtitulo{
    color:#f08b19;
}

.carrossel .lista .item .conteudo .texto{
    font-size: 16px;
}

.carrossel .lista .item .conteudo .botoes{
    display: grid;
    grid-template-columns: repeat(2,130px);
    margin-top: 20px;
    gap: 5px;
}

.carrossel .lista .item .conteudo .botoes a {
    text-decoration: none;
}
.carrossel .lista .item .conteudo .botoes a > button{
    height: 40px;
    width: 130px;
    color: black;
    border-radius: 10px;
    border: none;
    background-color: #eee;
    letter-spacing: 2px;
    font-weight: 600;
    transition: .4s;
}

.carrossel .lista .item .conteudo .botoes a > button:hover{
    color: #f08b19;
    background-color: #d1d1d1;
    cursor: pointer;
}

.carrossel .lista .item .conteudo a:nth-child(2) > button{
    background-color: transparent;
    color: #f1a847;
    border: 1px solid #eee;
    transition: .4s;
}

.carrossel .lista .item .conteudo a:nth-child(2) > button:hover{
    background-color: #7e66496c;
    color: #f3f3f3;
    cursor: pointer;
}

/*Trabalhando com as thumbs dos projetos*/ 
.carrossel .thumbnail{
    position: absolute;
    bottom: 50px;
    width: max-content;
    left: 50%;
    z-index: 100;
    display: flex;
    gap: 20px;
}

.carrossel .thumbnail .item{
    position: relative;
    height: 220px;
    width: 150px;
    flex-shrink: 0;
}
 
.carrossel .thumbnail .item img{   
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}


.carrossel .thumbnail .item .conteudo {
    position: absolute;
    bottom:10px;
    left:10px;
    right:10px;
}

.carrossel .thumbnail .item .conteudo .titulo{
    font-weight: bold;
}

.flechas{
    position: absolute;
    top: 80%;
    right: 52%;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
    z-index: 100;
}

.flechas button{
    width:  40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(236, 93, 36, 0.623);
    border:none;
    font-family: monospace;
    color: #fff;
    font-weight: bold;
    font-size: larger;
    transition: .5s;
}

.flechas button:hover{
    color: #555;
    background-color: white;
}


.carrossel .lista .item:nth-child(1){
    z-index:1;
}


 /*Responsividade*/
 @media screen and (max-width:678px) {
    .carrossel .lista .item .conteudo{
        padding-right: 0;
    }
    .carrossel .lista .item .conteudo .titulo{
        font-size: 30px;
    }
 }

